.product-item-quanity {
  max-width: 82px;
  padding-bottom: 2em;
}
.quanity-input {
  position: relative;
}
.quanity-label {
  display: block;
  padding-bottom: 1em;
}
input#quanity-input {
  appearance: textfield;
  padding: 1em;
  width: 100%;
  text-align: left;
  border: 1px solid rgba(131, 131, 131, 0.5);
  color: #575757;
}
.quanity-input:hover .quanity-controls span {
  opacity: 1;
  visibility: visible;
}
.quanity-controls {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.quanity-controls span {
  display: block;
  transition: 0.3s linear all;
  color: rgba(87, 87, 87, 0.8);
  width: 15px;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
  font-size: 0.7em;
  line-height: 15px;
}
