header {
  position: relative;
  height: 120px;
}
nav {
  position: fixed;
  z-index: 999;
  background: #fff;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row;
}

ul.nav-links {
  width: 100%;
  position: relative;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.nav-links li {
  padding: 0 20px;
}
.logo {
  display: flex;
  text-align: center;
  margin-right: 50px;
  flex-flow: row wrap;
  align-items: center;
  position: relative;
}
span.brand-name {
  padding-right: 15px;
  font-size: 3.5em;
  color: #294057;
  font-family: 'Grand Hotel', sans-serif;
}

span.brand-desc {
  text-transform: uppercase;
  font-size: 0.9em;
  letter-spacing: 3px;
  color: #cfb079;
}

.nav-links a {
  text-decoration: none;
  color: #294057;
  transition: 0.3s linear all;
}
.nav-links a:hover {
  color: #cfb079;
}
p.bagCount {
  position: relative;
  top: 25px;
  font-size: 22px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
}
.loginBTN {
  max-width: 100px;
  height: 50px;
  font-size: 0.9em;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  overflow: hidden;
}
.loginBTN .user-icon {
  position: relative;
  width: 25px;
  height: 25px;
  line-height: 25px;
  color: #fff;
  border-radius: 50%;
  background: #294057;
  margin-right: 5px;
}
.loginBTN a {
  position: relative;
  max-width: 70px;
  max-height: 25px;
  line-height: 25px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.profile-menu {
  overflow: hidden;
  max-width: 120px;
}
.profile-menu .loginBTN {
  padding: 0;
}
.profile-menu:hover #profile-drop {
  visibility: visible;
  opacity: 1;
}
.drop-down ul {
  padding-top: 0.5em;
}
#profile-drop {
  position: absolute;
  display: block;
  transition: 0.2s linear all;
  visibility: hidden;
  opacity: 0;
  max-width: inherit;
}
#profile-drop li {
  padding: 0;
}
#profile-drop li:hover {
  background: rgb(41, 64, 87);
}
#profile-drop li a:hover {
  color: #fff;
}
#profile-drop li a {
  display: block;
  padding: 0.4em;
}
