.user-login {
  padding: 7em 1em;
  background: #ffffff;
}
.login-header {
  color: #fff;
  text-align: center;
  padding-top: 1em;
}

form.login-form {
  width: 500px;
  background: #294057;
  margin: 0 auto;
  border-radius: 10px;
}
.input-container {
  padding: 2em;
  display: flex;
  flex-flow: column;

  width: 400px;
  margin: 0 auto;
}
.input-container input {
  background: #fff;
  border-radius: 10px;
  padding: 0.4em;
  margin-bottom: 0.5em;
  border: none;
}

.input-container input::placeholder {
  font-size: 1.1em;
  font-weight: 500;
  color: #000;
}

button.login-submit {
  padding: 0.5em 2em;
  background: #cfb079;
  border-radius: 5px;
  color: #fff;
  font-weight: 100;
  font-size: 1em;
}
