section.product-page {
  max-width: 950px;
  margin: 0 auto;
}
.product-heading {
  height: auto;
  padding: 10em 0 1em;
}
.product-breadcrumbs {
  display: flex;
}
.product-breadcrumbs p {
  color: #657e96;
}
nav.product-nav {
  display: flex;
  position: relative;
  z-index: 1;
}
.navigation-button-container {
  width: 150px;
}
.navigation-buttons {
  display: flex;
  justify-content: space-around;
}
.navigation-buttons li::selection {
  color: none;
  background: none;
}
.navigation-buttons li::-moz-selection {
  color: none;
  background: none;
}
.navigation-buttons li {
  font-weight: 100;
  cursor: pointer;
  color: #000;
}

.navigation-buttons span {
  margin: 0 10px;
  font-size: 0.9em;
}
.product-container {
  width: 100%;
  height: 100%;
  position: relative;
}
.product-description {
  height: 72px;
  width: 300px;
  position: relative;
}
[data-readmore='true'].product-description {
  height: auto;
}
.product-description p {
  text-overflow: ellipsis;
  overflow: hidden;
  width: inherit;
  height: inherit;
  font-weight: 300;
  font-size: 1em;
  color: #424242;
  padding-bottom: 0.5em;
}
.product-container .product-item {
  display: flex;
  justify-content: center;
  cursor: default;
  padding: 1em;
}
.product-item-img {
  position: relative;
  height: 455px;
  display: block;
  flex-basis: 60%;
  border: none;
  margin-right: 1em;
  cursor: pointer;
}

.product-item-overview {
  margin-left: 3em;
  max-width: 40%;
}

.product-item-title {
  color: #294057;
  font-weight: 300;
  padding-bottom: 0.3em;
}
.product-item-sku {
  color: #575757;
  font-size: 0.9em;
  font-weight: 300;
  padding-bottom: 1em;
}
.product-item-price {
  display: inline-block;
  margin-right: 10px;
  color: #575757;
  font-size: 1.3em;
  font-weight: 400;
  padding-bottom: 1em;
}
.product-item-details {
  font-size: 0.8em;
  color: #838383;
  font-weight: 100;
  text-decoration: underline;
  cursor: pointer;
}
.product-item-colorText {
  color: #838383;
  font-size: 0.95em;
  padding-bottom: 0.5em;
}
.product-item-color {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  box-shadow: 0 0 1px 2px rgba(255, 255, 255, 1) inset;
  border: 1px solid #575757;
  margin-bottom: 1.5em;
  cursor: pointer;
}
.product-item-quanity {
  max-width: 82px;
  padding-bottom: 2em;
}
.quanity-input {
  position: relative;
}
.quanity-label {
  display: block;
  padding-bottom: 1em;
}
input#quanity-input {
  appearance: textfield;
  padding: 1em;
  width: 100%;
  text-align: left;
  border: 1px solid rgba(131, 131, 131, 0.5);
  color: #575757;
}
.quanity-input:hover .quanity-controls span {
  opacity: 1;
  visibility: visible;
}
.quanity-controls {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.quanity-controls span {
  display: block;
  transition: 0.3s linear all;
  color: rgba(87, 87, 87, 0.8);
  width: 15px;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
  font-size: 0.7em;
  line-height: 15px;
}
.quanity-controls span[data-action-block='true'] {
  color: rgba(87, 87, 87, 0.3);
}
button.product-item-addToCart {
  position: relative;
  width: 300px;
  background: rgb(207, 176, 121);
  color: #fff;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 0.9em;
}
button.product-item-addToCart:hover {
  opacity: 0.8;
}
