button {
  border: none;
  background: none;
  cursor: pointer;
}

.defaultButton {
  padding: 1em 3em;
  border: solid #294057 2px;
  background: #fff;
  transition: 0.3s linear all;
}
.defaultButton h3 {
  text-transform: uppercase;
  font-weight: 100;
  color: #cfb079;
  transition: 0.3s linear all;
}
.defaultButton:hover {
  background: #294057;
}
.defaultButton:hover h3 {
  color: #fff;
}
