section.product-collection {
  position: relative;
  top: 120px;
  margin: 0 auto 120px;
  padding: 3em 2em;
  max-width: calc(100% - 25%);
  width: 100%;
}

.collection-header {
  font-size: 2.8em;
  font-weight: 400;
  letter-spacing: 2px;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  color: #cfb079;
}
